@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
	box-sizing: border-box;
}

body {
	background-color:#fff;
}

.selected {
	background-color:#2722AA;
}


.gridTitle {
	position: absolute;
	top:5vh;
	display:grid;
	width:60vw;
	grid-template-columns: 1fr 1fr 1fr;	
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin-left: 5vw;
}

#tic {
	transform: rotate(-46deg);
	color:#2722AA;
	border:dotted 10px #aa2222;
	padding:5vw;
}
#tac {
	transform: rotate(45deg);
	color:#880888;
	border:dotted 10px #e3fb09;
	padding:5vw;
}
#toe {
	transform: rotate(-45deg);
	color:#15a308;
	border:dotted 10px #1b7a89;
	padding:5vw;
}

.grid {
	display:grid;
	margin: 25vh 8vw 0 8vw;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #000;
	box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
	/*transform:rotate(34deg);*/
}

.grid div{
	background-color: #bdbcbc;
	border: rgb(13, 153, 125) 20px ridge;
	box-shadow: 0 30px 20px rgba(255, 255, 255, 0.7);
	transform: rotate(5deg);
	text-align: center;
	max-height: 100%;
	max-width: 100%;
	min-height: 40%;
	min-width: 40%;
	color:#bdbcbc;
}

.grid div:nth-child(2n + 1):nth-child(-n + 7) {
	border: rgb(245, 89, 28) 20px ridge;
	transform: rotate(-5deg);
  }

.grid div:nth-child(2n-1 + 1):nth-child(-n + n) {
	border: rgb(33, 132, 232) 20px ridge;
  }

.grid div h1 {
	color:#000000;
	font-family: 'Dancing Script', cursive;
}

.played {
	position: relative;

}

.graphic{
	position:absolute;
	top:35vh;
	left:5vw;
	display:block;
	width:0;
	height:0;
	border:12em ridge #05c072;
	border-top-color:transparent;
	border-right-color:transparent;
	border-left-color:transparent;
	border-bottom-color:600px ridge #f60404;
	z-index:-1;
}

.winner {
	position:absolute;
	top:55%;
	left:0%;
	width:100vw;
	height:30vh;
	color:#ffffff;
	text-align: center;
	font-size:1.9em;
	background-color:#000000;
	padding:12%;
	opacity: .6;
}

#btnRestart {
	position:absolute;
	top:62%;
	left:27%;
	width:165px;
	height:45px;
	border-radius: 25%;
	background-color: blue;
	font-size: .7em;
	color:#fff;
	box-shadow: 0 30px 20px rgba(0, 0, 0, 0.7);
	opacity: 1;
}



/****************************/


#titleImage {
	position: relative;
	top:0%;
	left:3%;
	max-height:55%;
	min-height:25%;
	max-width:65%;
	min-width:25%;
	/*margin:0% 4% 2% 6%;*/
	/*border:solid green 2px;*/
	z-index: 1;
}

.footerGrid {	
	position: absolute;
	top:90vh;
	height:10vh;
	width:100vw;
	border-top:solid teal 2px;
}

.contactGrid {
    display:grid;
    position:fixed;
    top:89vh;
    left:0vw;
    width:100vw;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    list-style-type:none;
    z-index: 7;
}

.contactGrid > li > a > img {
    max-height:8vh;
    max-width:12vw;
	min-height:5vh;
	min-width:3vw;
}


#containerGrid {}

/*@media only screen and (max-width:600px) {

	.grid{
		position: absolute;
		top:25%;
		left:0%;
	}
	#imgDiv{
		height:425px;
		width:700px;
		margin-top: 10%;
		margin-left:5%;
	}
	#titleImage {
		max-height: 30%;
	}
}
*/